# Python specific
*.pyc
*.pyo
*.pyd
__pycache__/
venv/
env/
.venv/

# IDE/Editor Files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Flask specific
instance/
.env

# Build Artifacts
*.log
*.tmp
*.zip
*.tar.gz

# OS-specific files
.DS_Store
Thumbs.db
